body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
}

p {
	color: green;
	margin-left: 20px;
}

table, th, td {
  border: 1px solid black;
}

.fields {

	color: red;
	text-align:center;

}

