{% extends 'base.html' %}

{% block head %}
<title>MoneyBot</title>
{% endblock %}

{% block body %}

<div class="inputs">
	{% block source %}
			<form action="/configure/get-headers" method="GET">
			<div class="source">
				<label for="source">Source to configure:</label>
				{{ sourceForm.source }}
				{{ sourceForm.submitSource }}
			</div>
			</form>
	{% endblock %}
	

	
	{% block fields %}
		{% if fieldForm %}
			<form action="/configure/get-headers/send-values" method="POST">
				<div class="fields">
					{{ fieldForm.fields }}
					{{ fieldForm.submitFields }}
				</div>
			</form>
		{% endif %}
	{% endblock %}



	{% block values %}
		{% if values %}
			<div class="values">
				{% for v in values %}
					<p>{{v}}</p>
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}
	
	
	{% if data %}
		<p>{{ data }}</p>
	{% endif %}

</div>
{% endblock %}