{% extends 'base.html' %}

{% block head %}
<title>MoneyBot</title>
{% endblock %}

{% block body %}

<div class="inputs">
	{% block source %}
			<form action="/configure/get-headers" method="GET">
			<div class="source">
				<label for="source">Source to configure:</label>
				{{ sourceForm.source }}
				{{ sourceForm.submitSource }}
			</div>
			</form>
	{% endblock %}
	

	
	{% block fields %}
		{% if fieldForm %}
			<form action="/configure/send-values" method="POST">
				<div class="fields">
					{{ fieldForm.fields }}
					{{ fieldForm.submitFields }}
				</div>
			</form>
		{% endif %}
	{% endblock %}



	{% block data %}
		{% if data %}
			<div class="data">
				
					<table>
						<tr>
							{% for key in data[0].keys() %}
							<th>{{ key }}</th>
							{% endfor %}
						</tr>
						{% for d in data %}
						<tr>
							{% for value in d.values() %}
							<td>{{ value }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>	
			</div>
			<form action="/download", method="GET">
			<div class="download">
				{{ downloadForm.download }}
			</div>
			</form>
			<form action="/export", method="POST", target="blank">
			<div class="export">
				{{ exportForm.export }}
			</div>
			</form>
			<form action="/salesforce", method="GET">
			<div class="salesforce">
				{{ salesforceForm.salesforce }}
			</div>
			</form>
		{% endif %}
	{% endblock %}
	

</div>
{% endblock %}